@font-face {
  font-family: "Poppins";
  src: url("../Assets/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../Assets/Roboto/Roboto-Medium.ttf");
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #111;
  font-family: "Poppins";
  font-size: 20px;
  color: white;
  overflow-x: hidden;
  -webkit-transition: 4s;
  transition: 4s;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.mobileNav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #11111133;
  z-index: 2000;
  display: none;
  -webkit-animation: fadeIn .1s;
          animation: fadeIn .1s;
}

.mobileNav .Nav {
  width: 75vw;
  height: 100%;
  background-color: #11111188;
  margin-left: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: .5s;
  transition: .5s;
}

.mobileNav .Nav .close {
  color: red;
  font-size: 30px;
  background-color: transparent;
  height: 40px;
  width: 40px;
  margin-left: calc(75vw - 70px);
}

.mobileNav .Nav .close:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.mobileNav .Nav ul {
  background-color: transparent;
  list-style-type: none;
  width: 100%;
}

.mobileNav .Nav ul li {
  color: white;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  cursor: pointer;
  padding-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.mobileNav .Nav ul li:hover {
  background-color: #ffffff22;
  color: red;
}

.mobileNav .Nav button {
  border: 0;
  color: white;
  background-color: #333333aa;
  width: 130px;
  height: 50px;
  font-size: 20px;
  font-family: "Roboto";
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.mobileNav .Nav button:hover {
  -webkit-box-shadow: 0 0 1px 1px red;
          box-shadow: 0 0 1px 1px red;
  background-color: #ff0000;
}

#top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 0 0 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #11111188;
  z-index: 1000;
  padding-top: 2px;
}

#top h1 {
  margin: 0 0 0 2%;
  width: 280px;
}

#top ul {
  list-style-type: none;
  font-size: 99%;
  margin: 0 0 0 17%;
  width: 27%;
}

#top ul li a {
  float: left;
  margin: 4% 0 0 8%;
  text-decoration: none;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

#top ul li a:hover {
  color: red;
}

#top button {
  margin: .3% 0 0 20%;
  border: 0;
  color: white;
  background-color: #333333aa;
  width: 130px;
  height: 50px;
  font-size: 20px;
  font-family: "Roboto";
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#top button:hover {
  -webkit-box-shadow: 0 0 1px 1px red;
          box-shadow: 0 0 1px 1px red;
  background-color: #ff0000;
}

#top .navBtn {
  width: 50px;
  height: 50px;
  border-radius: 0;
  font-size: 30px;
  display: none;
  background-color: transparent;
}

#landing {
  width: 100%;
  color: white;
  font-family: "Roboto";
  text-align: center;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#landing h4 {
  letter-spacing: 4px;
  color: #ffffffaa;
  font-size: 120%;
}

#landing h1 {
  font-size: 100px;
  margin: 0 0 0 -1%;
}

#landing button {
  border: 0;
  margin: 2% 0 0 0;
  width: 180px;
  height: 50px;
  font-family: "Roboto";
  color: white;
  background-color: red;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

#landing button:hover {
  -webkit-box-shadow: 0 0 1px 1px #ff000088;
          box-shadow: 0 0 1px 1px #ff000088;
  background-color: #ff000088;
}

#about {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about #NgPro {
  width: 90%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-animation: fadeIn 6s;
          animation: fadeIn 6s;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

#about #NgPro img {
  width: 280px;
  height: 260px;
}

#about #NgPro h2 {
  text-align: center;
  font-size: 25px;
  margin-left: 140px;
  color: #ffffffaa;
}

#about #NgPro h2 span {
  color: white;
  font-size: 20px;
}

#about #OpenSource {
  width: 90%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-animation: fadeIn 6s;
          animation: fadeIn 6s;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

#about #OpenSource h2 {
  text-align: center;
  font-size: 25px;
  color: #ffffffaa;
}

#about #OpenSource h2 span {
  color: white;
  font-size: 20px;
}

#about #OpenSource .fa-code-commit {
  width: 200px;
  height: 200px;
  color: #f1502f;
  margin-left: 150px;
}

#about #desktop {
  width: 90%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-animation: fadeIn 6s;
          animation: fadeIn 6s;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

#about #desktop .fa-laptop-code {
  width: 200px;
  height: 200px;
  color: white;
}

#about #desktop h2 {
  text-align: center;
  font-size: 25px;
  color: #ffffffaa;
  margin-left: 150px;
}

#about #desktop h2 span {
  color: white;
  font-size: 20px;
}

.tools {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-top: 30px;
  overflow: hidden;
}

.tools h1 {
  font-size: 70px;
  color: white;
  font-family: "Roboto";
  letter-spacing: 2px;
}

.tools h1::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: red;
  display: block;
}

.tools .toolsList {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
}

.tools .toolsList .icons {
  margin: 20px 0 20px 30px;
  font-size: 3.6rem;
}

.tools .toolsList .si-cplusplus {
  font-size: 3.6rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .title {
  font-size: 60px;
  letter-spacing: 2px;
}

.contact .title::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: red;
  display: block;
}

.contact .formsDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact .formsDiv .write-a-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact .formsDiv .write-a-message input {
  width: 350px;
  height: 40px;
  outline: 0;
  border: none;
  margin: 5px 0 2px 0;
  font-size: 15px;
  font-family: "Poppins";
  padding: 4px;
}

.contact .formsDiv .write-a-message textarea {
  width: 353px;
  height: 350px;
  outline: 0;
  border: none;
  margin: 5px 0 2px 0;
  font-size: 15px;
  font-family: "Roboto";
  padding: 3px;
}

.contact .formsDiv .write-a-message button {
  background-color: red;
  color: white;
  font-size: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
  height: 50px;
  font-family: "Poppins";
  margin: 5px 0 2px 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact .formsDiv .write-a-message button:hover {
  background-color: #ff000088;
}

.contact .formsDiv h1 {
  font-size: 50px;
}

.contact .formsDiv .leave-a-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact .formsDiv .leave-a-review input {
  width: 350px;
  height: 40px;
  outline: 0;
  border: none;
  margin: 5px 0 2px 0;
  font-size: 15px;
  font-family: "Poppins";
  padding: 4px;
}

.contact .formsDiv .leave-a-review textarea {
  width: 353px;
  height: 350px;
  outline: 0;
  border: none;
  margin: 5px 0 2px 0;
  font-size: 15px;
  font-family: "Roboto";
  padding: 3px;
}

.contact .formsDiv .leave-a-review button {
  background-color: red;
  color: white;
  font-size: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
  height: 50px;
  font-family: "Poppins";
  margin: 5px 0 2px 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact .formsDiv .leave-a-review button:hover {
  background-color: #ff000088;
}

.contact .socialDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact .socialDiv ul {
  list-style-type: none;
}

.contact .socialDiv ul li {
  float: left;
}

.contact .socialDiv ul li a {
  text-decoration: none;
}

.contact .socialDiv ul li a .social {
  font-size: 35px;
  margin: 5px 0 10px 35px;
}

.foot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: transparent;
  font-size: 14px;
}

.top {
  border: 0;
  outline: 0;
  background-color: #333333aa;
  color: white;
  width: 60px;
  height: 50px;
  font-family: "Roboto";
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: fixed;
  right: 1px;
  bottom: 30px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.top:hover {
  color: red;
}

@media screen and (max-width: 1075px) {
  #top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #top ul, #top button {
    display: none;
  }
  #top .navBtn {
    display: block;
    margin-right: 5px;
  }
}

@media screen and (max-width: 990px) {
  #about #NgPro, #about #desktop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about #NgPro h2, #about #desktop h2 {
    margin-left: 0;
  }
  #about #OpenSource {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #about #OpenSource .fa-code-commit {
    margin-left: 0;
  }
}

@media screen and (max-width: 790px) {
  .contact .formsDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .formsDiv h1 {
    margin: 30px 0;
  }
  #landing h1 {
    font-size: 70px;
    margin: 0;
  }
  #landing h4 {
    font-size: 100%;
  }
  .tools h1 {
    font-size: 50px;
  }
  .tools .toolsList .icons {
    font-size: 3rem;
  }
  .contact .title {
    font-size: 50px;
  }
}

@media screen and (max-width: 495px) {
  #landing h1 {
    font-size: 50px;
  }
  #landing h4 {
    font-size: 80%;
  }
  #landing p {
    font-size: 18px;
  }
  #about #NgPro img {
    width: 250px;
    height: 230px;
  }
  #about #NgPro h2 {
    font-size: 20px;
  }
  #about #NgPro h2 span {
    font-size: 15px;
  }
  #about #OpenSource h2, #about #desktop h2 {
    font-size: 20px;
  }
  #about #OpenSource h2 span, #about #desktop h2 span {
    font-size: 15px;
  }
}

@media screen and (max-width: 420px) {
  #top h1 {
    font-size: 150%;
  }
  #about #NgPro img {
    width: 200px;
    height: 180px;
  }
  .contact .title {
    letter-spacing: 0;
    font-size: 45px;
  }
  .contact .formsDiv .write-a-message input, .contact .formsDiv .leave-a-review input {
    width: 300px;
  }
  .contact .formsDiv .write-a-message textarea, .contact .formsDiv .leave-a-review textarea {
    width: 303px;
  }
  .contact .socialDiv ul li a .social {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */