@font-face {
    font-family: "Poppins";
    src: url("../Assets/Poppins/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../Assets/Roboto/Roboto-Medium.ttf");
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #111;
    font-family: "Poppins";
    font-size: 20px;
    color: white;
    overflow-x: hidden;
    transition: 4s;
    -webkit-animation: fadeIn 2s;
            animation: fadeIn 2s;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes comeIn{
    0%{
        transform: scale(0%);
    }
    90%{
        transform: scale(110%);
    }
    100%{
        transform: scale(100%);
    }
}

@keyframes goOut{
    0%{
        transform: scale(110%);
    }
    100%{
        transform: scale(10%);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@-webkit-keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes glow{
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(110%);
    }
}

.leaveScreen{
    animation: goOut .5s;
}

.comeToScreen{
    animation: comeIn .7s;
}

.NameEmpty, .EmailEmpty, .NoneAtAll{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #111111aa;
    width: 100%;
    height: 9vh;
    top: 70px;
    left: 0;
    z-index: 2000;
    display: none;
    p{
        background-color: red;
        width: 20rem;
        height: 80%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .NoneError{
        width: 30rem;
    }
}

.successDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #111111aa;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    display: none;
    .successMessage{
        position: relative;
        width: 41rem;
        height: 30rem;
        background-color: #222222aa;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image{
            width: 13rem;
            height: 13rem;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .message{
            h1, p{
                text-align: center;
            }
            p{
                font-size: 20px;
                .fa-circle-check{
                    color: #00ff00;
                    font-size: 40px;
                }
            }
        }
        .okay{
            position: absolute;
            right: 15px;
            bottom: 10px;
            background-color: red;
            border: none;
            outline: none;
            color: white;
            width: 70px;
            height: 50px;
            transition: .5s;
            cursor: pointer;
            animation: glow 1.4s infinite;
            &:hover{
                background-color: red;
            }
        }
    }
}

.mobileNav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #11111133;
    z-index: 3000;
    display: none;
    animation: fadeIn .1s;
    .Nav{
        width: 75vw;
        height: 100%;
        background-color: #222222dd;
        margin-left: 25vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        transform: translateX(200%);
        transition: .5s;
        .close{
            color: red;
            font-size: 30px;
            background-color: transparent;
            height: 40px;
            width: 40px;
            margin-left: calc(75vw - 70px);
            &:hover{
                box-shadow: none;
                background-color: transparent;
            }
        }
        ul{
            background-color: transparent;
            list-style-type: none;
            width: 100%;
            li{
                color: white;
                width: 100%;
                height: 50px;
                margin-top: 5px;
                cursor: pointer;
                padding-left: 8px;
                display: flex;
                align-items: center;
                transition: .5s;
                &:hover{
                    background-color: #ffffff22;
                    color: red;
                }
            }
        }
        button{
            border: 0;
            color: white;
            background-color: #333333aa;
            width: 130px;
            height: 50px;
            font-size: 20px;
            font-family: "Roboto";
            border-radius: 40px;
            cursor: pointer;
            transition: .3s;
            &:hover{
                box-shadow: 0 0 1px 1px red;
                background-color: #ff0000;
            }
        }
    }
}

#top{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 0 0;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #11111188;
    z-index: 1000;
    padding-top: 2px;
    h1{
        margin: 0 0 0 2%;
        width: 280px;
    }
    ul{
        list-style-type: none;
        font-size: 99%;
        margin: 0 0 0 17%;
        width: 27%;
        li{
            a{
                float: left;
                margin: 4% 0 0 8%;
                text-decoration: none;
                color: white;
                transition: .5s;
                cursor: pointer;
                &:hover{
                    color: red;
                }
            }
        }
    }
    button{
        margin: .3% 0 0 20%;
        border: 0;
        color: white;
        background-color: #333333aa;
        width: 130px;
        height: 50px;
        font-size: 20px;
        font-family: "Roboto";
        border-radius: 40px;
        cursor: pointer;
        transition: .3s;
        &:hover{
            box-shadow: 0 0 1px 1px red;
            background-color: #ff0000;
        }
    }
    .navBtn{
        width: 50px;
        height: 50px;
        border-radius: 0;
        font-size: 30px;
        display: none;
        background-color: transparent;
    }
}

#landing{
    width: 100%;
    color: white;
    font-family: "Roboto";
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h4{
        letter-spacing: 4px;
        color: #ffffffaa;
        font-size: 120%;
    }
    h1{
        font-size: 100px;
        margin: 0 0 0 -1%;
    }
    button{
        border: 0;
        margin: 2% 0 0 0;
        width: 180px;
        height: 50px;
        font-family: "Roboto";
        color: white;
        background-color: red;
        border-radius: 40px;
        font-size: 20px;
        cursor: pointer;
        transition: .5s;
        &:hover{
            box-shadow: 0 0 1px 1px #ff000088;
            background-color: #ff000088;
        }
    }
}

#about{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    padding: 10px 0;
    #NgPro{
        width: 90%;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: .8s;
        animation: fadeIn 6s;
        transform: translateY(60%);
        img{
            width: 280px;
            height: 260px;
        }
        h2{
            text-align: center;
            font-size: 25px;
            margin-left: 140px;
            color: #ffffffaa;
            span{
                color: white;
                font-size: 20px;
            }
        }
    }
    #OpenSource{
        width: 90%;
        display: none;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        transition: .8s;
        animation: fadeIn 6s;
        transform: translateY(60%);
        h2{
            text-align: center;
            font-size: 25px;
            color: #ffffffaa;
            span{
                color: white;
                font-size: 20px;
            }
        }
        .fa-code-commit{
            width: 200px;
            height: 200px;
            color: #f1502f;
            margin-left: 150px;
        }
    }
    #desktop{
        width: 90%;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        transition: .8s;
        animation: fadeIn 6s;
        transform: translateY(60%);
        .fa-laptop-code{
            width: 200px;
            height: 200px;
            color: white;
        }
        h2{
            text-align: center;
            font-size: 25px;
            color: #ffffffaa;
            margin-left: 150px;
            span{
                color: white;
                font-size: 20px;
            }
        }
    }
}

.tools{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 30px;
    overflow: hidden;
    h1{
        font-size: 70px;
        color: white;
        font-family: "Roboto";
        letter-spacing: 2px;
        &::after{
            content: "";
            height: 2px;
            width: 100%;
            background-color: red;
            display: block;
        }
    }
    .toolsList{
        width: 100%;
        height: fit-content;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        padding: 30px;
        .icons{
            padding: 15px 20px;
            font-size: 3.6rem;
        }
    }
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    padding: 10px 0;
    .title{
        font-size: 60px;
        letter-spacing: 2px;
        &::after{
            content: "";
            width: 100%;
            height: 2px;
            background-color: red;
            display: block;
        }
    }
    .formsDiv{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        .write-a-message{
            display: flex;
            flex-direction: column;
            transition: .5s;
            input{
                width: 350px;
                height: 40px;
                outline: 0;
                border: none;
                margin: 5px 0 2px 0;
                font-size: 15px;
                font-family: "Poppins";
                padding: 4px;
            }
            textarea{
                width: 353px;
                height: 350px;
                outline: 0;
                border: none;
                margin: 5px 0 2px 0;
                font-size: 15px;
                font-family: "Roboto";
                padding: 3px;
            }
            button{
                background-color: red;
                color: white;
                font-size: 18px;
                border: 0;
                outline: 0;
                cursor: pointer;
                height: 50px;
                font-family: "Poppins";
                margin: 5px 0 2px 0;
                transition: .5s;
                &:hover{
                    background-color: #ff000088;
                }
                .fa-circle-notch{
                    animation: rotate 3s infinite;
                }
            }
        }

        h1{
            font-size: 50px;
            color: red;
        }

        .leave-a-review{
            display: flex;
            flex-direction: column;
            transition: .5s;
            input{
                width: 350px;
                height: 40px;
                outline: 0;
                border: none;
                margin: 5px 0 2px 0;
                font-size: 15px;
                font-family: "Poppins";
                padding: 4px;
            }
            textarea{
                width: 353px;
                height: 350px;
                outline: 0;
                border: none;
                margin: 5px 0 2px 0;
                font-size: 15px;
                font-family: "Roboto";
                padding: 3px;
            }
            button{
                background-color: red;
                color: white;
                font-size: 18px;
                border: 0;
                outline: 0;
                cursor: pointer;
                height: 50px;
                font-family: "Poppins";
                margin: 5px 0 2px 0;
                transition: .5s;
                &:hover{
                    background-color: #ff000088;
                }
            }
        }
    }
    .socialDiv{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        ul{
            list-style-type: none;
            li{
                float: left;
                a{
                    text-decoration: none;
                    .social{
                        font-size: 35px;
                        margin: 5px 0 10px 35px;
                    }
                }
            }
        }
    }
}

.foot{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    font-size: 14px;
}

.top{
    border: 0;
    outline: 0;
    background-color: #333333aa;
    color: white;
    width: 60px;
    height: 50px;
    font-family: "Roboto";
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: fixed;
    right: 1px;
    bottom: 30px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: .7s;
    transform: translateX(100%);
    &:hover{
        color: red;
    }
}

// Handling Responsiveness
@media screen and (max-width: 1075px){
    #top{
        justify-content: space-between;
        ul, button{
            display: none;
        }
        .navBtn{
            display: block;
            margin-right: 5px;
        }
    }
}

@media screen and (max-width: 990px){
    #about{
        #NgPro, #desktop{
            flex-direction: column;
            h2{
                margin-left: 0;
            }
        }
        #OpenSource{
            flex-direction: column-reverse;
            .fa-code-commit{
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 790px){
    .contact{
        .formsDiv{
            flex-direction: column;
            h1{
                margin: 30px 0;
            }
        }
        .title{
            font-size: 50px;
        }
    }
    #landing{
        h1{
            font-size: 70px;
            margin: 0;
        }
        h4{
            font-size: 100%;
        }
    }
    .tools{
        h1{
            font-size: 50px;
        }
        .toolsList{
            .icons{
                font-size: 3rem;
            }
        }
    }
    .successDiv{
        .successMessage{
            height: 40rem;
            width: 35rem;
        }
    }
    .NameEmpty, .EmailEmpty, .NoneAtAll{
        p{
            height: 50px;
        }
    }
}

@media screen and (max-width: 495px){
    #landing{
        h1{
            font-size: 50px;
        }
        h4{
            font-size: 80%;
        }
        p{
            font-size: 18px;
        }
    }

    #about{
        #NgPro{
            img{
                width: 250px;
                height: 230px;
            }
            h2{
                font-size: 20px;
                span{
                    font-size: 15px;
                }
            }
        }
        #OpenSource, #desktop{
            h2{
                font-size: 20px;
                span{
                    font-size: 15px;
                }
            }
        }
    }
    
    .successDiv {
      .successMessage {
        height: 35rem;
      }
    }
}

@media screen and (max-width: 420px){
    #top{
        h1{
            font-size: 150%;
        }
    }
    #about{
        #NgPro{
            img{
                width: 200px;
                height: 180px;
            }
        }
    }

    .contact{
        .title{
            letter-spacing: 0;
            font-size: 40px;
        }
        .formsDiv{
            .write-a-message, .leave-a-review{
                input{
                    width: 300px;
                }
                textarea{
                    width: 303px;
                }
            }
        }
        .socialDiv{
            ul{
                li{
                    a{
                        .social{
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }

    .tools{
        h1{
            font-size: 40px;
        }
        .toolsList{
            .icons{
                font-size: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 355px){
    #landing{
        h1{
            font-size: 40px;
        }
        p{
            font-size: 14px;
        }
    }

    #about{
        #NgPro{
            img{
                width: 170px;
                height: 150px;
            }
            h2{
                font-size: 16px;
                span{
                    font-size: 11px;
                }
            }
        }

        #OpenSource, #desktop{
            h2{
                font-size: 16px;
                span{
                    font-size: 11px;
                }
            }
        }
        #OpenSource{
            .fa-code-commit{
                width: 160px;
                height: 160px;
            }
        }
        #desktop{
            .fa-laptop-code{
                width: 160px;
                height: 160px;
            }
        }
    }
}
