@font-face {
  font-family: "Poppins";
  src: url("../Assets/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../Assets/Roboto/Roboto-Medium.ttf");
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #111;
  font-family: "Poppins";
  font-size: 20px;
  color: white;
  overflow-x: hidden;
  -webkit-transition: 4s;
  transition: 4s;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 0 0 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #11111188;
  z-index: 1000;
}

#top h1 {
  margin: 0 0 0 2%;
  width: 30%;
}

#top ul {
  list-style-type: none;
  font-size: 99%;
  margin: 0 0 0 7%;
  width: 27%;
}

#top ul li a {
  float: left;
  margin: 4% 0 0 8%;
  text-decoration: none;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

#top ul li a:hover {
  color: red;
}

#top button {
  margin: .3% 0 0 20%;
  border: 0;
  color: white;
  background-color: #333333aa;
  width: 10%;
  height: 50px;
  font-size: 20px;
  font-family: "Roboto";
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#top button:hover {
  -webkit-box-shadow: 0 0 1px 1px red;
          box-shadow: 0 0 1px 1px red;
  background-color: #ff0000;
}

#landing {
  width: 100%;
  color: white;
  font-family: "Roboto";
  text-align: center;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#landing h4 {
  letter-spacing: 4px;
  color: #ffffffaa;
  font-size: 120%;
}

#landing h1 {
  font-size: 100px;
  margin: 0 0 0 -1%;
}

#landing button {
  border: 0;
  margin: 2% 0 0 0;
  width: 15%;
  height: 50px;
  font-family: "Roboto";
  color: white;
  background-color: red;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

#landing button:hover {
  -webkit-box-shadow: 0 0 1px 1px #ff000088;
          box-shadow: 0 0 1px 1px #ff000088;
  background-color: #ff000088;
}

#about {
  width: 100%;
  overflow: hidden;
}

#about #NgPro {
  width: 90%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-animation: fadeIn 6s;
          animation: fadeIn 6s;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

#about #NgPro img {
  width: 280px;
  height: 260px;
}

#about #NgPro h2 {
  text-align: center;
  font-size: 25px;
  margin-left: 140px;
  color: #ffffffaa;
}

#about #NgPro h2 span {
  color: white;
  font-size: 20px;
}

#about #OpenSource {
  width: 90%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-animation: fadeIn 6s;
          animation: fadeIn 6s;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

#about #OpenSource h2 {
  text-align: center;
  font-size: 25px;
  color: #ffffffaa;
}

#about #OpenSource h2 span {
  color: white;
  font-size: 20px;
}

#about #OpenSource .fa-code-commit {
  width: 200px;
  height: 200px;
  color: #f1502f;
  margin-left: 150px;
}

#about #desktop {
  width: 90%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-animation: fadeIn 6s;
          animation: fadeIn 6s;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

#about #desktop .fa-laptop-code {
  width: 200px;
  height: 200px;
  color: white;
}

#about #desktop h2 {
  text-align: center;
  font-size: 25px;
  color: #ffffffaa;
  margin-left: 150px;
}

#about #desktop h2 span {
  color: white;
  font-size: 20px;
}

.tools {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-top: 30px;
  overflow: hidden;
}

.tools h1 {
  font-size: 70px;
  color: white;
  font-family: "Roboto";
  letter-spacing: 2px;
}

.tools h1::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: red;
  display: block;
}

.tools .toolsList {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.tools .toolsList .icons {
  margin: 20px 0 20px 50px;
  font-size: 3.2rem;
}

.tools .toolsList .si-cplusplus {
  font-size: 3.2rem;
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .title {
  font-size: 60px;
  letter-spacing: 2px;
}

.contact .title::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: red;
  display: block;
}

.contact .formsDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .formsDiv .write-a-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .formsDiv .write-a-message input {
  width: 350px;
  height: 40px;
  outline: 0;
  border: none;
  margin: 5px 0 2px 0;
  font-size: 15px;
  font-family: "Poppins";
  padding: 4px;
}

.contact .formsDiv .write-a-message textarea {
  width: 353px;
  height: 350px;
  outline: 0;
  border: none;
  margin: 5px 0 2px 0;
  font-size: 15px;
  font-family: "Roboto";
  padding: 3px;
}

.contact .formsDiv .write-a-message button {
  background-color: red;
  color: white;
  font-size: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
  height: 50px;
  font-family: "Poppins";
  margin: 5px 0 2px 0;
}

.top {
  border: 0;
  outline: 0;
  background-color: #333333aa;
  color: white;
  width: 60px;
  height: 50px;
  font-family: "Roboto";
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: fixed;
  right: 1px;
  bottom: 30px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.top:hover {
  color: red;
}
/*# sourceMappingURL=style.css.map */